.git
.gitignore
.vs
.idea
.vscode

**/bin/
**/obj/
**/TestResults/
**/coverage/

.env
.env.*
!.env.example

**/Keys/*.xml
*.log
*.tmp
*.temp
*.user
*.rsuser
*.suo
*.nupkg
*.snupkg

Dockerfile
docker-compose*.yml
docker-compose*.yaml
